@using ArriendoPocket.Areas.Identity.Pages;
@model LoginViewModel;
@{
	ViewData["Title"] = "Login";
	Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Login</h2>
		<form asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Correo" class="form-label"></label>
				<input asp-for="Correo" class="form-control"/>
				<span asp-validation-for="Correo" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Contrasena" class="form-label"></label>
				<input asp-for="Contrasena" class="form-control" />
				<span asp-validation-for="Contrasena" class="text-danger"></span>
			</div>
			<div class="form-check mb-3">
				<label class="form-check-label">
					<input asp-for="RememberMe" class="form-check-input" />
					@Html.DisplayNameFor(a=> a.RememberMe)
				</label>
			</div>
			<input type="submit" value="Login" class="btn btn-success w-100 p-2" />
			<p class="text-center mt-2">
				No tienes una cuenta? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Registrate</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Regresar</a>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}